<header class="main-nav">
	<nav class="left-nav">
		<ul>
      <li data-controller="sections-sidebar"> 
        <div id="sections-sidebar-btn" data-action="click->sections-sidebar#toggleSidebar">
          <i class="fa-solid fa-bars"></i>
          <span>SECTIONS</span>
        </div>
      </li>
			<li data-controller="modal">
        <div id="search-modal-btn" data-action="click->modal#toggleModal">
          <i class="fa-solid fa-magnifying-glass"></i>
          <span>SEARCH</span>
        </div>
			</li>
		</ul>
	</nav>

  <nav class="right-nav">
    <ul>
      <li id="subscribe_now_button">
        <button>&nbsp SUBSCRIBE NOW &nbsp</button>
      </li>

      <li id="log_in_button">
        <button>&nbsp LOG IN &nbsp</button>
      </li>

			<li data-controller="gear-dropdown">
        <div id="gear-dropdown-btn" data-action="click->gear-dropdown#toggleDropdown">
          <i class="fa-solid fa-gear"></i>
        </div>
			</li>

    </ul>
  </nav>
</header>